@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');





/* Variables */
:root {
  --font-family:'Montserrat', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #034AFF;
  --primary-shadow: #686868;
  --secondary-shadow: #4b6ab9;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}



body {
  
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: #000000;
  
}

.active, .saurabh-dhuri {
  color: #034AFF;
}



    /*Font Sizes and font families  */

    h1,h2,h3{
      font-family: 'Josefin Sans', sans-serif;
      letter-spacing: 0px;
      
    }
    

    .intro-header {
      font-size: 3rem;
      }
    .project-title{
      font-size: 2rem;
      
    }
    .bio-title{
      font-size: 2rem;
    }
    .more-bio-title{
      font-size: 2rem;
    }
    .contact-title{
      font-size: 2rem;
    }
    .thank-you-title{
      font-size: 1.5rem;
    }
    figcaption{
      font-size:smaller;
      text-align: center;
    }

    @media screen and (max-width: 912px) {
      /*changes reflects on screen with a width of 912px and below*/
      .intro-header {
        font-size: 2rem;
        
        }
      .project-title{
        font-size: 1.5rem;
      }
      .bio-title{
        font-size: 1.5rem;
      }
      .more-bio-title{
        font-size: 1.5rem;
      }
      .contact-title{
        font-size: 1.5rem;
      }
      .thank-you-title{
        font-size: 1rem;
      }

      }

    @media screen and (max-width: 768px) {
      .intro-header {
        font-size: 2rem;
        
        }
      .project-title{
        font-size: 1.5rem;
      }
      .bio-title{
        font-size: 1.5rem;
      }
      .more-bio-title{
        font-size: 1.5rem;
      }
      .contact-title{
        font-size: 1.5rem;
      }
      .thank-you-title{
        font-size: 1rem;
      }

      }

    



    /* Navbar */
    
    nav {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 3.5rem;
        background-color: var(--bg-color);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        height: auto;
      }
    

      nav .logo_sadhu{
        width: auto;
        height: 2.8312rem;
        position: absolute;
        top: 0%;
        margin-top: 1%;
        margin-left: 5%;
        
      }

      nav .logo_saurabh{
        width: auto;
        height: 1.8312rem;
        position: absolute;
        top: 0%;
        margin-top: 1%;
        margin-left: 33.5%;
        opacity: 0;
        cursor:default;
      
      }

      @media screen and (max-width: 912px) {
        nav .logo_sadhu{
          width: auto;
          height: 2.8312rem;
          margin-top: 2rem;
          margin-left: 2rem;
          
        }  
        nav .logo_saurabh{

          width: auto;
          height: 2.8312rem;
          margin-top: 2rem;
          margin-left: 28%;
        }
        }
  
      @media screen and (max-width: 768px) {
        nav .logo_sadhu{
          width: auto;
          height: 2.8312rem;
          margin-top: 2rem;
          margin-left: 2rem;
          
        }  
        nav .logo_saurabh{

          width: auto;
          height: 2.8312rem;
          margin-top: 2rem;
          margin-left: 13rem;;
        }
  
        }
  
      @media screen and (max-width: 540px) {
        nav .logo_sadhu{
          width: auto;
          height: 1.8312rem;
          margin-top: 2rem;
          margin-left: 1rem;
        
        }  
        nav .logo_saurabh{

          width: auto;
          height: 1.3312rem;
          margin-top: 2rem;
          margin-left: 28%;
        }
      }

      @media screen and (max-width: 375px) {
        nav .logo_sadhu{
          width: auto;
          height: 1.8312rem;
          margin-top: 2rem;
          margin-left: 0rem;
        
        }  
        nav .logo_saurabh{

          width: auto;
          height: 1.4rem;
          margin-top: 2rem;
          margin-left: 24%;
        }
      }

      @media screen and (max-width: 280px) {
        nav{
          width:280px;
        }
      }



      .logo_sadhu:hover + .logo_saurabh {
          
          animation: fadeIn 1s;
          animation-delay: 0.01s;
          animation-fill-mode: forwards;
        
      }

      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
  }
      
      
      nav li a {
        color: var(--primary-color);
        transition: var(--transition);
      }
      nav li a:hover {
        color: var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
      }
      
      nav ul {
        display: flex;
        gap: 1.9rem;
      }
      
      nav ul li {
        font-weight: var(--bold-font);
      }
    
      .burger-menu {
        color: var(--primary-color);
        font-size: 2rem;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        display: none;

      }

      

      @media screen and (max-width: 912px) {
        nav {
          padding: 1.5rem 1rem;
        }

        nav ul {
          position: fixed;
          background-color: var(--bg-color);
          flex-direction: column;
          top: 86px;
          left: 10%;
          width: 80%;
          text-align: center;
          transform: translateX(120%);
          transition: transform 0.5s ease-in;
          box-shadow:10px 10px 15px -2px var(--primary-shadow);
          /* box-shadow: 1px 1px 0px 0px var(--primary-shadow); */
        }
      
         nav ul li {
          margin: 8px;
        }
  
        .burger-menu {
          display: block;
        }
      
        nav ul.show {
          transform: translateX(0);
        }
        
      }

      


      /* Work (Skills) section */

    
    
    .work-wrapper {
      display: grid;
      row-gap: 4rem;
      margin-top: 4rem;
    }
  
    
    .project-name-container, .project-logo-container{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -9px;
      border-radius: 6px;
      flex-direction: column;
      gap: 1rem;
      color: #ffffff;
      /* background-color: rgba(0, 0, 0, 1); */
      
    }

    
/* behance */
  #dailyui-project-card .project-logo-container{
    background-image: url("https://res.cloudinary.com/saurabhdhuri/image/upload/v1644846280/portfolio/behance/behance-cover.webp");
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: center center;
    
  }

/* vegnonveg */
  #vegnonveg-project-card .project-logo-container{
    background-image: url("https://res.cloudinary.com/saurabhdhuri/image/upload/v1644846470/portfolio/vegnonveg/vegnonveg-cover.webp");
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: center center;
    
  }

  /* placeme */
  #placeme-project-card .project-logo-container{
    background-image: url("https://res.cloudinary.com/saurabhdhuri/image/upload/v1644848163/portfolio/placeme/placeme-cover.webp");
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: center center;
    
  }

 
    /* #dailyui-project-card .project-name-container,
    #vegnonveg-project-card .project-name-container,
    #placeme-project-card .project-name-container{
      background-color: #034AFF;
    } */

    /* {
      background-color: #00ba00;
    }

    {
      background-color: #7603c9;
    } */

    .work-section {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 68.75rem;
      margin: auto;
      text-align: center;
      border: 2px solid white;
    }
    
    .intro-header {

      margin-bottom: 1rem;
      
    }

    .intro{

      margin: auto;
      width: 50%;

    }
    
    
    .work {
      display: flex;
      justify-content: space-between;
      height: 20rem;
      width: 68.75rem;
      padding: 0.625rem;
      border-radius: 6px;
      box-shadow: 0px 0px 4px 0px var(--primary-shadow);
      background-color: #034AFF;

    }

    
    
  @media screen and (max-width: 2560px) {
    
    .project-card:hover{
      transform: scale(1.03);
      text-decoration: none;
      color: var(--primary-color);
      box-shadow: 0px 2px 15px 2px var(--primary-shadow);
      border-radius: 6px;
      }
    }

   
    @media screen and (max-width: 1024px) {
    
      .work {
        width: 60rem;
        margin: auto;
        height: 17rem;
        
        }

    }

    @media screen and (max-width: 912px) {
      .project-card:hover{
        transform: scale(1.03);
        text-decoration: none;
        box-shadow: 0px 0px 0px 0px var(--primary-shadow);
        border-radius: 6px;
      }
      
      .work {
        width: 45rem;
        margin: auto;
        height: 13rem;
        box-shadow: 0px 2px 15px 2px var(--primary-shadow);

        
        }
      }

    @media screen and (max-width: 768px) {
      /*changes reflects on screen with a width of 768px and below*/
      .work {
        width: 95%;
        margin: auto;
        }

      }

      @media screen and (max-width: 640px) {
        .work {
          width: 38rem;
          margin: auto;
          height: 11rem;
          }
  
        }

    @media screen and (max-width: 540px) {
      /*changes reflects on screen with a width of 540px and below*/
      .work {
        flex-direction: column;
        height: 25rem;
        width: 20rem;
        justify-content: space-between;
        }

        #dailyui-project-card .project-logo-container,#vegnonveg-project-card .project-logo-container, #placeme-project-card .project-logo-container{
          /* visibility: hidden; */
          height: 50%;
          width: auto;
          background-size: 106%;
          
        }

        .project-name-container{
          width: auto;
          height: 50%;
          flex-direction: column;
          background-size: 20%;
        }
        

    }


    /* Modal for Work Section */

        

        
        .project-header{
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 0.4rem;
          text-align: center;
        }

        .project-body{
         
          margin-top: 1rem;
          padding: 2em 2em;
          display: flex;
          flex-direction: column;
      }


        .modal__close {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #585858;
          text-decoration: none;
          font-size: 25px;
        }

        .project-content-row{
          display: flex;
          flex-direction: row;
          text-align: start;
          column-gap: 4rem;
          padding: 2em 2em;
          justify-content: center;
        }

        .project-content-text{
          display: flex;
          /* align-items: center; */
          flex-direction: column;
          justify-content: center;
        }
        #dailyui-project-section .project-content-row {
          flex-direction: column;
          row-gap: 2rem;
          align-items: center;
          text-align: center;
          margin-bottom: 2rem;
        }
        
        #dailyui-project-section .project-content-img{
          display: flex;
          flex-direction: row;
          column-gap: 2rem;
          justify-content: center;
        }
        
        .behance-img{
          width: 20rem;
          margin: auto;
          height: auto;
        }
        
        #desktop-icon-row .behance-img{
          width: 38rem;
          margin: auto;
          height: auto;
        }

        .vegnonveg-img{
          height: auto;
          width: 22.5rem;
        }
        

        .placeme-img{
          height: 20rem;
          width: auto;
        }
        
        

          @media screen and (max-width: 1024px) {
            
            .modal{
              flex-direction: column;
              align-items: center;
              justify-content: flex-end;
            }
            
            
            .vegnonveg-img,#vegnonveg-result-screen, #vegnonveg-product-screen,#vegnonveg-home-screen{
              height: auto;
              width: 16rem;
            }
    
            #vegnonveg-login-screen{
              height: auto;
              width: 19.5rem;
            }
            #vegnonveg-reg-screen,#vegnonveg-upi-screen,#vegnonveg-card-screen{
              height: auto;
              width: 19rem;
            }

            .behance-img{
              width: 18rem;
              margin: auto;
              height: auto;
            }
            
            #desktop-icon-row .behance-img{
              width: 36rem;
              margin: auto;
              height: auto;
            }

            .placeme-img{
              height: 16rem;
              width: auto;
            }
            

          }

          @media screen and (max-width: 912px) {
            /* .modal{
              flex-direction: column;
              align-items: center;
              justify-content:end;
            } */
            
            .vegnonveg-img{
              height: auto;
              width: 16rem;
            }
            #vegnonveg-result-screen, #vegnonveg-product-screen,#vegnonveg-home-screen{
              height: auto;
              width: 14rem; 
            }
    
            #vegnonveg-login-screen{
              height: auto;
              width: 17.5rem;
            }
            #vegnonveg-reg-screen,#vegnonveg-upi-screen,#vegnonveg-card-screen{
              height: auto;
              width: 17rem;
            }

            .behance-img{
              width: 16rem;
              margin: auto;
              height: auto;
            }
            
            #desktop-icon-row .behance-img{
              width: 34rem;
              margin: auto;
              height: auto;
            }

            
            #placeme-project-section .project-content-row{
              flex-direction: column;
              align-items: center;
              row-gap: 2rem;
              text-align: center;
            }
            #placeme-project-section #admin-login-row,
            #placeme-project-section #admin-add-company-row,
            #placeme-project-section #user-login-row,
            #placeme-project-section #user-home-row,
            #placeme-project-section #user-qualification-row,
            #placeme-project-section #user-company-info-row,
            #placeme-project-section #admin-qualification-row,
            #placeme-project-section #admin-schedule-row,
            #placeme-project-section #user-schedule-row
            {
              flex-direction: column-reverse;
            }

          }
  
      
          @media screen and (max-width: 768px) {
            
            
            
            
            .project-content-row{
              margin-bottom: 2rem;
              display: flex;
              flex-direction: column;
              text-align: center;
              row-gap: 2rem;
              padding: 0em 0em;
            }

            #project-content-row-auth,#project-content-row-home,#project-content-row-checkout{
              display: flex;
              flex-direction: row;
            }
           

            .vegnonveg-img{
              height: auto;
              width: 14rem;
            }
            #vegnonveg-result-screen, #vegnonveg-product-screen,#vegnonveg-home-screen{
              height: auto;
              width: 12rem; 
            }
    
            

            .behance-img{
              width: 12rem;
              margin: auto;
              height: auto;
            }
            
            #desktop-icon-row .behance-img{
              width: 26rem;
              margin: auto;
              height: auto;
            }
            
            }
      
          @media screen and (max-width: 640px) {
            
            
            .vegnonveg-img{
              height: auto;
              width: 12rem;
            }
            #vegnonveg-result-screen, #vegnonveg-product-screen,#vegnonveg-home-screen{
              height: auto;
              width: 10rem; 
            }
    
            #vegnonveg-login-screen{
              height: auto;
              width: 12.5rem;
            }
            #vegnonveg-reg-screen,#vegnonveg-upi-screen,#vegnonveg-card-screen{
              height: auto;
              width: 12rem;
            }

            #landing-page-row .project-content-img{
              flex-direction: column;
              row-gap: 2rem;
            }
            #landing-page-row  .behance-img{
              width: 14rem;
            }

          }

          @media screen and (max-width: 540px) {
            
            
            .vegnonveg-img{
              height: auto;
              width: 10rem;
            }
            #vegnonveg-result-screen, #vegnonveg-product-screen,#vegnonveg-home-screen{
              height: auto;
              width: 8rem; 
            }
    
            #vegnonveg-login-screen{
              height: auto;
              width: 10.5rem;
            }
            #vegnonveg-reg-screen,#vegnonveg-upi-screen,#vegnonveg-card-screen{
              height: auto;
              width: 10rem;

            }
            .placeme-img{
              height: 14rem;
              width: auto;
            }
            
          }

          @media screen and (max-width: 432px) {
            
            
            
            .vegnonveg-img{
              height: auto;
              width: 10rem;
            }
            #vegnonveg-result-screen, #vegnonveg-product-screen,#vegnonveg-home-screen{
              height: auto;
              width: 10rem; 
            }

            #project-content-row-home{
              display: flex;
              flex-direction: column;
            }
    
            #vegnonveg-login-screen{
              height: auto;
              width: 10.3rem;
            }
            #vegnonveg-reg-screen,#vegnonveg-upi-screen,#vegnonveg-card-screen{
              height: auto;
              width: 10rem;
            }
            .behance-img, #landing-page-row .behance-img{
              width: 12rem;
              margin: auto;
              height: auto;
            }
            
            #desktop-icon-row .behance-img{
              width: 16rem;
              margin: auto;
              height: auto;
            }

            #dailyui-project-section .project-content-img{
              
              flex-direction: column;
              row-gap: 2rem;
            }
            .placeme-img{
              height: 11rem;
              width: auto;
            }
            
            #placeme-project-section .project-content-row .project-content-text{
              /* word-break: break-all; */
              /* word-wrap: break-word; */
              overflow-wrap: anywhere;

              }
            }

          @media screen and (max-width: 320px) {
            
            #project-content-row-home,#project-content-row-auth,#project-content-row-checkout{
              display: flex;
              flex-direction: column;
            }
            
            
            #desktop-icon-row .behance-img{
              width: 13rem;
              margin: auto;
              height: auto;
            }
            
            .placeme-img{
              height: 8rem;
              width: auto;
            }
            
          }




    /* About (Hero Section) */

    .about-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        max-width: 68.75rem;
        margin: auto;
        margin-top: 8rem;
      }
    
      .hero-img {
        height: auto;
        width: 38rem;
        /* margin-top: 10rem; */
        margin-left: 1rem;
        vertical-align: middle;
      }
      
      .bio {
        width: 25rem;
        padding: 0.625rem;
        border-radius: 6px;
        box-shadow: 0px 2px 15px 2px var(--primary-shadow);
        margin-right: 1rem;
        
      }
      
      .bio h1 {
        padding: 0.5rem 5%;
        text-align: center;
      }
      
      .bio p {
        line-height: var(--line-height);
        padding: 0.5rem 5%;
      }


      @media screen and (max-width: 912px) {
        /*changes reflects on screen with a width of 912px and below*/
        .bio {
          
          margin-right: 4rem;
          
          }

          .hero-img {
            width: 30rem;
            margin-left: 4rem;
          }

        }
  
      @media screen and (max-width: 768px) {
        /*changes reflects on screen with a width of 768px and below*/
        .bio {
          
          margin-right: 0rem;
          }

          .hero-img{
            width: 25rem;
            /* margin-left: 4rem; */
            margin-left: 0rem;
          }
          
        }
  
      @media screen and (max-width: 640px) {

        .hero-img{
          width: 28rem;
        }

        .about-section{
          flex-direction: column;
          
        }
      }


     

      @media screen and (max-width: 432px) {
          
        .hero-img{
          width: 20rem;
        }

        .bio{
          width: 80%;
        }
  
      }

      
      @media screen and (max-width: 280px) {
          
        .hero-img{
          width: 10rem;
        }

        
      }




    /* More about */

    .more-about-section {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 68.75rem;
      margin: auto;
      margin-top: 8rem;
      
    }
  
    /* .hero-img {
      height: 37.5rem;
      width: 37.5rem;
      margin-top: 10rem;
      margin-left: 1rem;
    }
     */

    .more-bio {
      width: auto;
      margin: 10px;
      padding: 0.625rem;
      border-radius: 6px;
      box-shadow: 0px 2px 15px 2px var(--primary-shadow);
      /* margin-right: 1rem; */
      
    }
    
    .more-bio h1 {
      padding: 0.5rem 5%;
      text-align: center;
    }
    
    .more-bio p {
      line-height: var(--line-height);
      padding: 0.5rem 5%;
    }
    

    @media screen and (max-width: 912px) {
      /*changes reflects on screen with a width of 540px and below*/

        .more-bio {        
        width: 80%;
        margin: 1rem;

        }
        .more-about-section{
          margin-top: 4rem;
        }

    }

    @media screen and (max-width: 540px) {
      /*changes reflects on screen with a width of 540px and below*/

        .more-about-section{
          margin-top: 4rem;
        }

        .more-bio {
        
        width: 80%;
        margin: auto;
        }

    }




    /* Projects section */

    

    /* Contact section */

    .contact-container{
      display: grid;
      row-gap: 4rem;
      margin-bottom: 2rem;
      /* margin-top: 4rem; */
        
    }

    .item-a, .item-b{
      display: grid;
      justify-items: center;
    }

    .item-a .contact-text, .item-b .contact-text , .item-a .contact-title, .item-b .contact-title{
    
      padding: 1rem 0%;

    }
    
    
    .contact-icon{
      height: 25px;
      width: auto;
      vertical-align: middle;
    }

    @media screen and (max-width: 540px) {
      /*changes reflects on screen with a width of 540px and below*/

      .contact-container{
        
        margin-top: 5rem;
          
      }
    }

   
    

    /* thanks for visiting  */
    .thanks{
      margin-top: 4rem;
      text-align: center;
    }
    
    /* Scroll to top */

    .scroll-up {
      position: fixed;
      right: 0.5%;
      bottom: 3%;
      cursor: pointer;
    }
    
    .up-arrow {
      width: 3rem;
      height: 3rem;
    }

    /* Footer section */

    footer {
      background-color: var(--bg-color);
      padding: 1.25rem;
      text-align: left;
      margin: 2rem 0 0;
      font-size: 12px;
    }    
  
