
.logo{
    
    text-decoration:none;

    &_saurabh{

        visibility: visible;
        margin-top: 0rem;
        margin-left: 0rem;
        height: 2.8312rem;
        transform: translate(40px, 0px);


    }
    
  }